<article class="channel-item">
  <div class="channel-item__left">
    <div class="avatar channel-item__avatar"
         {{#if avatar}}style="background-image: url({{avatar}})"{{/if}}></div>
  </div>
  <div class="channel-item__right">
    <div class="channel-item__header">
      <h3 class="channel-item__title">{{name}}</h3>
      <div class="channel-item__date">{{updated}}</div>
    </div>
    <div class="channel-item__body">
      <div class="channel-item__text">{{teaser}}</div>
      <div class="channel-item__count">
        {{#if unread}}
          <span class="channel-item__cnt">{{unread}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</article>
